
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}


.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar-toggle {
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.sidebar.hidden {
    width: 0;
}

.sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    transition: margin-left 0.3s;
}

.main-content.expanded {
    margin-left: 0;
}


/* End of Sidebar */